.App {
  text-align: center;
}

.signbox{
  margin-top: 50px;
  max-width: 400px;
  margin:100px auto;
  padding: 50px;
  border-radius: 7px;
  border: 1px solid #555555;
}
.signbox form input {
  margin: 10px 5px;
  padding:5px 5px;
  border-radius: 7px;
  border: 1px solid #555555;
}
.signbox form button {
  margin-top: 15px;
  width: 100%;
}

.signOut{
  position: absolute;
  right:4px;
  
}

.AddBtn{
  background-color: tomato!important;
  color:black!important;
}